/* HeroesComponent's private CSS styles */

/* 2em space below the whole heroes list */

.heroes {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
  }
  
  .heroes li {
    display: flex;
  }

  /*
flex: 1;: This property assigns a flex value of 1 to the button, which means it
will grow and shrink to fill the available space within its container.

cursor: pointer;: This property sets the cursor style to a pointer when
 hovering over the button, indicating that it is clickable.

position: relative;: This property positions the button relative
to its normal position in the document flow.

left: 0;: This property sets the left offset of the button to 0,
meaning it will be positioned flush with the left edge of its containing element.

background-color: #EEE;: This property sets the background 
color of the button to a light gray color (#EEE).

margin: .5em;: This property sets a margin of 0.5em (half of the 
current font size) on all sides of the button, creating space around it.

padding: 0;: This property sets the padding of the button to 0, 
removing any space inside the button between its content and its borders.

border-radius: 4px;: This property sets the border radius of 
the button to 4 pixels, giving it slightly rounded corners.

display: flex;: This property sets the display value of the
button to flex, which enables flexbox layout on its child elements.

align-items: stretch;: This property aligns the items (child elements)
 within the button along the cross-axis (vertical axis) and stretches them to fill the container's height.

height: 1.8em;: This property sets the height of the
 button to 1.8em (18 pixels), determining its overall height.

Overall, the CSS code you provided styles the "heroes" button 
to have a flexible width, a light gray background color, no padding,
and a slight border radius. It also aligns its child elements along 
the vertical axis, stretching them to fill the container's height.
*/
  .heroes button {
    flex: 1;
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: 0.5em;
    padding: 0;
    border-radius: 4px;
    display: flex;
   /* align-items: stretch;*/
    align-items: stretch;
    height: 1.8em;
  }
  
  .heroes button:hover {
    color: #2c3a41;
    background-color: #e6e6e6;
    left: .1em;
  }
  
  .heroes button:active {
    background-color: #525252;
    color: #fafafa;
  }
  
  .heroes button.selected {
    background-color: black;
    color: white;
  }
  
  .heroes button.selected:hover {
    background-color: #505050;
    color: white;
  }
  
  .heroes button.selected:active {
    background-color: black;
    color: white;
  }
  
  .heroes .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #405061;
    line-height: 1em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }
  
  .heroes .name {
    align-self: center;
  }
